footer {
    position: relative;
    width: 100%;
    height: 96px;
    padding-bottom: 48px;
    background: #141414;
}

footer > h3 { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 50%;
    line-height: 2em;
    font-size: 16px;
}