#intro {
    background-color: #141414;
    overflow:hidden; 
}

.title {
    margin: 0 auto;
    width: 1408px;
    font-weight: bold;
    font-size: 36px;
    padding-top: 96px;
    margin-bottom: 96px;
    opacity: 0;
    transform: translateX(-10%);
    transition: all 0.5s;
}

.title.showed {
    opacity: 1;
    transform: translateX(0%);
}

#intro_desc_cont {
    display: flex;
    width: 1408px;
    margin: 0 auto;
    margin-bottom: 96px;
}

#intro_name_wrapper {
    position: relative;
    width: 584px;
    min-width: 584px;
    transition: all 0.5s;
    opacity: 0;
    transform: translateX(-10%);
}

#intro_name_wrapper.showed {
    opacity: 1;
    transform: translateX(0%);
}

#intro_name_wrapper::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 120px;
    height: 0px;
    border: #005298 solid 2px;
    border-radius: 1px;
}

#intro_name {
    color: #eeeeee;
    font-size: 64px;
    font-weight: bolder;
}

#intro_desc_wrapper {
    transition: all 0.5s;
    opacity: 0;
    transform: translateX(10%);
}

#intro_desc_wrapper.showed {
    opacity: 1;
    transform: translateX(0%);
}

#intro_desc_main {
    color: #eeeeee;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 48px;
}

#intro_desc_detail {
    font-weight: normal;
    color: #eeeeee;
    opacity: 0.5;
    line-height: 2em;
    font-size: 24px;
}

#promo {
    width: 100%;
    height: 800px;
    position: relative;
    opacity: 0;
    transition: all 1s;
}

#promo.showed {
    opacity: 1;
}

#promo_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#promo_bg_cover {
    position: absolute;
    width: 100%;
    height: 100%;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#141414+0,141414+100&1+0,0.8+20,0.8+80,1+100 */
    background: -moz-linear-gradient(top,  rgba(20,20,20,1) 0%, rgba(20,20,20,0.8) 20%, rgba(20,20,20,0.8) 80%, rgba(20,20,20,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(20,20,20,1) 0%,rgba(20,20,20,0.8) 20%,rgba(20,20,20,0.8) 80%,rgba(20,20,20,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(20,20,20,1) 0%,rgba(20,20,20,0.8) 20%,rgba(20,20,20,0.8) 80%,rgba(20,20,20,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
}

#promo_contents {
    display: flex;
    position: absolute;
    width: 1408px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#promo_video_wrapper {
    flex: 1;
}

#promo_video {
    width: 800px;
}

#promo_desc_cont {
    display: inline-block;
    width: 480px;
    position: relative;
}

#promo_desc_cont > div {
    position: absolute;
    bottom: 0px;
}

#promo_number_wrapper {
    display: flex;
}

#promo_number_wrapper > div {
    flex: 1;
}

#promo_student_number,
#promo_professor_number {
    color: #005298;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.promo_number_desc {
    color: #eeeeee;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#promo_desc {
    margin-top: 64px;
    font-size: 24px;
    color: #eeeeee;
    line-height: 2em;
}
