#intro {
    background-color: #141414;
    overflow:hidden; 
}

.title {
    margin: 0 auto;
    width: 1408px;
    font-weight: bold;
    font-size: 36px;
    padding-top: 96px;
    margin-bottom: 96px;
}

#intro_desc_cont {
    display: flex;
    width: 1408px;
    margin: 0 auto;
    margin-bottom: 96px;
}

#intro_name_wrapper {
    position: relative;
    width: 584px;
    min-width: 584px;
}

#intro_name_wrapper::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 120px;
    height: 0px;
    border: #005298 solid 2px;
    border-radius: 1px;
}

#intro_name {
    color: #eeeeee;
    font-size: 64px;
    font-weight: bolder;
}

#intro_desc_main {
    color: #eeeeee;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 48px;
}

#intro_desc_detail {
    font-weight: normal;
    color: #eeeeee;
    opacity: 0.5;
    line-height: 2em;
    font-size: 24px;
}

