.title {
    padding-top: 48px;
    font-size: 16px;
    width: 280px;
    margin-bottom: 36px;
}

#intro_desc_cont {
    width: 280px;
    margin-bottom: 24px;
}

#intro_name_wrapper {
    display: none;
}

#intro_desc_main {
    font-size: 12px;
    margin-bottom: 24px;
}

#intro_desc_detail {
    font-size: 12px;
}