#campus {
    height: 720px;
}

#campus > div{
    width: 280px;
    display: block;
}

#campus_map_wrapper {
    height: 156.8px;
    margin-top: 0px;
    margin-bottom: 24px;
}

#campus_map_wrapper > canvas {
    width: 100%;
}

#campus_building_desc_cont {
    width: 100%;
}

#campus_building_name {
    font-size: 24px;
    margin-bottom: 24px;
}

#campus_building_desc {
    font-size: 12px;
    width: 280px;
    margin-bottom: 24px;
}

#campus_building_table {
    font-size: 12px;
} 

.floor {
    padding-bottom: 12px;
}
